@import url("./styles.css");
@import url("./normalize.css");
@import url("./modules/components/index.css");
.grid {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 10px 1fr;
    grid-template-rows: 1fr 10px 1fr;
    overflow: hidden;
}

.gutter-col {
    background-color: #888;
    grid-area: 1 / 2 / 4 / 2;
    cursor: col-resize;
}

.gutter-row {
    background-color: #888;
    grid-area: 2 / 1 / 2 / 4;
    cursor: row-resize;
    grid-row: 2;
}